.banner
{
max-width: 100%;
height:200px;
background-image: url(cupcakes.png);
background-repeat: no-repeat;
background-size:center;
}
.center
{
  margin-left: 0;
  margin-right: 0;
  height:200px;
  width:100%;
  text-align:center;
}
