.banner
{
max-width: 100%;
height:200px;
background-image: url(cupcakes.png);
background-repeat: no-repeat;
background-size: 100% 100%;
}
.center
{
  margin-left: 0;
  margin-right: 0;
  line-height: 500%;
  width:100%;
  text-align:center;
}
