body
{
  background-color: #FF69B4;
  text-align:center;
}

.banner
{

background-image: url(bannerpic.png);
background-size :cover;
}

.center
{
  margin-left: 0;
  margin-right: 0;
  line-height: 360px;
  width:100%;
  text-align:center;
}

nav
{
  font-family: 'Sofia';
  font-size: 20px;
}
