body
{
  background-color: #FF69B4;
}
.banner
{
max-width: 100%;
height:200px;
background-image: url(background.png);
background-repeat: no-repeat;
background-size: 100% 100%;
}
.center
{
  margin-left: 0;
  margin-right: 0;
  line-height: 360px;
  width:100%;
  text-align:center;
}
nav
{
  font-size:20px;
}
